{% extends "helpdesk/base.html" %}
{% block main_content %}
<div class="container w-50 p-4 border border-1 rounded-3 shadow-sm bg-light">
    <h1>Ticket Status</h1>
    <p class="text-secondary">Por favor, forneça seu endereço de e-mail e o número do ticket. Um link de acesso será enviado ao seu e-mail.</p>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@company.com" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém..</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Ticket Number:</label>
          <input class="form-control" type="text" placeholder="e.g.1234" aria-label=".form-control-lg example">
        </div>
        <button type="submit" class="btn btn-primary">Email Access Link</button>
    </form>
</div>
{% endblock %}