{% extends "Helpdesk/base.html" %}
{% block main_content %}
    <div class="container p-4 border border-1 rounded-3 shadow-sm bg-light">
        <h1>Bem-vindo a Central de Suporte</h1>
        <div class="container-fluid bg-white p-3 rounded-3 shadow-sm mb-4">
            <p>
                Para agilizar as solicitações de suporte e melhor atendê-lo, utilizamos um sistema de tickets de suporte. Cada solicitação de suporte recebe um
                número de ticket exclusivo, que você pode usar para acompanhar o andamento e as respostas online. Para sua referência, fornecemos arquivos completos
                e histórico de todas as suas solicitações de suporte. É necessário um endereço de e-mail válido para enviar um ticket.
            </p>
        </div>

        <div class="container px-0 d-flex justify-content-between">
            <div class="card text-white bg-primary" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Abrir Um Novo Ticket</h5>
                    <p class="card-text" style="height: 95px;">
                        Forneça o máximo de detalhes possível para que possamos
                        atendê-lo melhor.
                    </p>
                  <a href="{% url 'create_new_ticket' %}" class="btn btn-primary border border-white">Abrir Novo Ticket</a>
                </div>
            </div>
            <div class="card text-white ms-3 bg-secondary" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Verificar Status do Ticket</h5>
                    <p class="card-text" style="height: 95px;">Fornecemos arquivos e histórico de todas as suas solicitações de suporte Para melhor acompanhamento das respostas.</p>
                    <a href="{% url 'check_ticket' %}" class="btn btn-secondary border border-white">Verificar Status do Ticket</a>
                </div>
            </div>
            <div class="card text-white ms-3 bg-warning" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reportar problemas</h5>
                    <p class="card-text" style="height: 95px;">Se tiver a ter problemas com o uso da central de suporte envianos um emai com a sua situação clicando no botão a baixo.</p>
                    <a href="{% url 'check_ticket' %}" class="btn btn-warning text-white border border-white">Verificar Status do Ticket</a>
                </div>
            </div>
        </div>
        <small class="fs-10 text-secondary">Para atualizar um ticket de suporte anterior enviado, complete com as respostas. faça login.</small>
    </div>
{%endblock%}