{% extends "helpdesk/base.html" %}
{% block main_content %}
<div class="container p-4 border border-1 rounded-3 shadow-sm bg-light">
    <h1>Criar Novo Ticket</h1>
    <p class="text-secondary">Por favor, preencha o formulário abaixo para abrir um novo Ticket.</p>
    <form>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Help Topic:</label><br>
            {{form.help_topic}}
        </div>
        <hr>
        <div class="mb-3">
            <label for="">Ticket Details</label>
            <br>
            <label for="" class="text-secondary">Please Describe Your Issue</label>
            <br>
            <br>
            <label for="">Resumo do problema:</label>
            {{form.issue_summary}}
        </div>
        <div class="form-floating">
            {{form.description}}
            <label class="text-secondary" for="floatingTextarea2">Descrever</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary ">Submeter Ticket</button>
    </form>
</div>
{% endblock %}