{% extends "helpdesk/base.html" %}
{% block main_content %}
    <div class="container p-4 bg bg-1 rounded-3 shadow-sm bg-light">
        <h1 class="fw-bold">Lista de Tickets</h1>
        <div class="container-fluid bg-white p-3 rounded-3 shadow-sm mb-4">
            <p>
                Aqui está a lista de tickets criadas. Você pode visualizar o status e as respostas de cada ticket.
            </p>
        </div>

        <div class="d-flex justify-content-left mt-4">
            <a href="{% url 'create_help_topic' %}" class="btn btn-sm btn-outline-primary">Adicionar Novo Tópico</a>
        </div>
        <div></div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID do Ticket</th>
                    <th>Assunto</th>
                    <th>Status do ticket</th>
                    <th>Atribuido</th>
                    <th>Criado em:</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.issue_summary }}</td>
                        {% if ticket.status == "Aberto"%}
                            <td class="fw-bold">
                                <small class="text-white bg-primary p-1" id="status_info">{{ ticket.status }}</small>
                            </td>
                        {% elif ticket.status == "Em Progresso" %}
                            <td class="fw-bold">
                                <small class="text-white bg-warning p-1">{{ ticket.status }}</small>
                            </td>
                        {% else %}
                            <td class="fw-bold">
                                <small class="text-white bg-danger p-1">{{ ticket.status }}</small>
                            </td>
                        {% endif %}
                        <td>{{ ticket.assigned_to.user.first_name }} {{ ticket.assigned_to.user.last_name }}</td>
                        <td>{{ ticket.created_at }}</td>
                        <td><a href="{% url 'ticket_detail' ticket.id %}" class="btn btn-sm btn-outline-info">Ver Detalhes</a></td>
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td colspan="5">Nenhum ticket encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}