{% extends "helpdesk/base.html" %}
{% block main_content %}
<div class="container p-4 border border-1 rounded-3 shadow-sm bg-light">
    <!-- breadcrumb -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'agent_list' %}">Agentes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Adicionar Agente</li>
        </ol>
    </nav>
    <!-- fim do breadcrumb -->
    <h1 class="fw-bold">Adicionar Agente</h1>
    <p class="text-secondary">Por favor, preencha o formulário abaixo para adicionar um novo agente.</p>
    <form method="post" action="{% url 'agent_registration' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Agente:</label>
            {{form.user}}
            <br>
            <div class="container p-4 border border-1 rounded-3 shadow-sm bg-light">
                <p class="text-secondary">Caso não encontre o usuário desejado, por favor, clique no botão abaixo para adicionar um novo usuário.</p>
                <small><a href="{% url 'user_registration' %}" class="btn btn-sm btn-outline-primary">Adicionar um Novo Usuário</a></small>

            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Definir Privilégios de Usuário:</label>
            {{form.privilege_level}}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Adicionar Agente</button>
    </form>
</div>
{% endblock %}